.git
.env
**/.DS_Store
**/node_modules
frontend/.svelte-kit
frontend/build
frontend/test-results
frontend/playwright-report
backend/.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.hypothesis
images
